header {
	height: 6rem;
	font-size: 1.38rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.2rem;
}

header > section > a {
	text-decoration: none;
	color:  black;
	padding:  0.8rem;
}


.link-parche {
	position: relative;
	top: -.3rem;
}

.app-parche {
	position: relative;
	top: .5rem;
}

.btn-sign-in {
	background: dodgerblue;
	border: none;
	border-radius: 2px;
	font-weight: bold;
	color: whitesmoke;
	padding: .6rem .8rem;
}
