header {
	height: 5rem;
	font-size: 1.4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > section > a {
	text-decoration: none;
	color:  black;
	padding:  0.8rem;
}

.link-parche {
	position: relative;
	top: -.5rem;
}