* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 10px;
	font-family: 'Noto Sans JP', sans-serif;
}

main {
	height: calc(90vh - 5rem);
	font-size: 1.4rem;
}

.wrapper {
	position: relative;
	text-align:  center;
	top: 4%;
}

.box-search-input {
	margin: 2.5rem;
	width: 55rem;
	border: none;
	box-shadow: 0.7px 0.7px 0.7px 2px whitesmoke; 
	border-radius: 2rem;
	height: 4rem;
}

.box-search-button {
	border: none;
}

.btn {
	margin:  1rem;
	padding: .5em;
	border: none;
	background: whitesmoke;
	cursor: pointer;
}

.btn:hover {
	background: gray;
	color:  white;
}

.spanish-option {
	position: relative;
	top: 5vh;
}
